.photoContainer {
    width: 50%;
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

.face {
    position: absolute;
}

.face.enabled {
    outline: 5px solid black;
}

.face.edit {
    outline-color: red;
}


canvas {
    width: 100%;
}
